apiVersion: batch/v1
kind: Job
metadata:
  name: health-check
spec:
  template:
    metadata:
      labels:
        health-check: "true"
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 101
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: health-check
          image: curlimages/curl:latest
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          command: ["/bin/sh", "-c"]
          args:
            - |
              max_retries=300
              sleep_time=6
              for i in $(seq 1 $max_retries); do
                if curl -s -o /dev/null -w "%{http_code}" --connect-to $TARGET_DOMAIN:$TARGET_PORT:$TARGET_IP:$TARGET_PORT -H \"Host: $TARGET_DOMAIN\" $TARGET_URL | grep $SUCCESS_CODE; then
                  echo "Success: Response code $SUCCESS_CODE";
                  exit 0;
                else
                  echo "Attempt $i failed: Did not receive response code $SUCCESS_CODE";
                fi
                if [ $i -lt $max_retries ]; then
                  echo "Retrying in $sleep_time seconds...";
                  sleep $sleep_time;
                fi
              done
              echo "curl --connect-to $TARGET_DOMAIN:$TARGET_PORT:$TARGET_IP:$TARGET_PORT -H \"Host: $TARGET_DOMAIN\" $TARGET_URL"
              echo "Failed after $max_retries attempts";
              exit 1;
      restartPolicy: Never
