name: PR modules/google

on:
  pull_request:
    branches:
      - main
    paths:
      - 'modules/google/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: PR modules/google
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v42
      with:
        base_sha: ${{ github.event.pull_request.base.sha }}
        sha: ${{ github.event.pull_request.head.sha }}
    
    - name: Run tests
      env:
        GOOGLE_PROJECT: ${{ secrets.GOOGLE_PROJECT }}
        GOOGLE_REGION: ${{ secrets.GOOGLE_REGION }}
        GOOGLE_ZONE:  ${{ secrets.GOOGLE_ZONE }}
        GOOGLE_CREDENTIALS:  ${{ secrets.GOOGLE_CREDENTIALS }}
        PR_BRANCH: ${{ github.event.pull_request.head.ref }}
        ENTIGO_INFRALIB_DESTROY: true
      run: | 
        echo "Changed modules:"
        for module in $(for file in ${{ steps.changed-files.outputs.all_changed_files }} ${{ steps.changed-files.outputs.deleted_files }}; do
            echo "$file" | grep "modules/google" | grep -ve"nuke\.sh\|google-nuke-config\.yaml" | cut -d'/' -f1-3
        done | sort -u )
        do
          ${module}/test.sh
          if [ $? -ne 0 ]
          then
            echo "Failed ${module}"
            exit 2
          fi
        done

